{% extends 'page.html' %}
{% load markdownify %}
{% load static %}
{% load diary %}

{% block page %}
  <div id="alerts" class="row mb-2">
    <div class="col">
      {% include "layouts/messages.html" %}
    </div>
  </div>

  <!-- primary content row -->
  <div class="row mb-6">
    <!-- right column -->
    <div class="col-lg-8">
      <!-- top material -->
      <div class="my-4">
        <!-- entry controls -->
        <div class="float-right">
          {% if object.private %}
          <button class="btn btn-sm btn-link" type="button" data-toggle="collapse" data-target="#entry">
            <i class="fa fa-lock"></i>
          </button>
          {% endif %}
          <a class="btn btn-sm btn-link" type="button" href="{{ object.get_admin_url }}">
            <i class="fa fa-pencil"></i>
          </a>
          <a class="btn btn-sm btn-link" href="{% url 'instapaper' %}" id="syncInstapaper">
            <i class="fa fa-refresh"></i>
          </a>
        </div>

        <!-- page header -->
        <h1 class="page-title">{{ object }}</h1>
        <p class="lead"><span class="pr-2">{{ object.feeling_emoji }}</span> {{ object.memo }}</p>
      </div>

      <!-- entry -->
      <div id="entry" class="{% if object.private %}collapse{% endif %}">
      {% if object.entry %}
      {{ object.entry|markdownify }}
      {% endif %}
      </div><!-- entry ends -->

      <!-- reading -->
      {% if object.article_counts or object.articles.count > 0 %}
      <div class="reading mt-4">
        <h5 class="{% if object.article_counts %}mb-0{% endif %}">Reading</h5>
        {% if object.article_counts %}
        {% with cts=object.article_counts %}
        <p class="article-counts text-muted">{{ cts.read }} read ({{ cts.unread }} unread) &middot; {{ cts.archived }} archived / {{ cts.starred }} starred YTD</p>
        {% endwith %}
        {% endif %}
        {% if object.articles.count > 0 %}
        <ul class="list-unstyled">
          {% for article in object.articles.all %}
          <li>
            <a href="https://www.instapaper.com/read/{{ article.bookmark_id }}" target="_blank">
              {{ article }}
            </a>
            {% if article.url %}
            <a class="pl-2" href="{{ article.url }}" target="_blank" title="Original Content">
              <i class="fa fa-external-link"></i>
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endif %}

      <!-- navigation -->
      <ul class="nav nav-pills nav-fill">
        {% if prev_entry %}
        <li class="nav-item">
          <a class="nav-link" href="{{ prev_entry.get_absolute_url }}">&larr; Prev</a>
        </li>
        {% endif %}
        {% if next_entry %}
        <li class="nav-item">
          <a class="nav-link" href="{{ next_entry.get_absolute_url }}">Next &rarr;</a>
        </li>
        {% endif %}
      </ul>
    </div><!-- right column ends -->

    <!-- left column -->
    <div class="col-lg-4">
      {% if object.tabs %}
      <div class="card my-4">
        <h5 class="card-header">Browser Tabs</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Open Windows
            <span class="badge badge-primary badge-pill">{{ object.tabs.desktop_windows }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Desktop Tabs
            <span class="badge badge-primary badge-pill">{{ object.tabs.desktop_tabs }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Mobile Tabs
            <span class="badge badge-primary badge-pill">{{ object.tabs.mobile_tabs }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Tablet Tabs
            <span class="badge badge-primary badge-pill">{{ object.tabs.tablet_tabs }}</span>
          </li>
        </ul>
      </div>
      {% endif %}

      {% if object.location %}
      <!-- map widget -->
      <div class="card my-4">
        <h5 class="card-header">Location</h5>
        <div class="card-body">
          <div id="map" style="height:300px"></div>
        </div>
      </div>
      {% endif %}

    </div><!-- left column ends -->
  </div><!-- primary content row ends -->
{% endblock %}

{% block modals %}
{{ block.super }}
<!-- Instapaper Login Modal -->
{% include "modals/instapaper_login.html" with modal_name="instapaperLogin" modal_title="Authenticate Instapaper API" %}
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script src="{%static 'js/instapaper.js' %}" type="text/javascript"></script>

  {% if object.location %}
  {# Kind of a hacked way to get the location into the map, but it works #}
  {% google_maps_js %}

  <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const loc = {{ object.location.to_google_json|safe }};
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 10,
          center: loc,
          disableDefaultUI: true,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: loc,
          map: map,
        });
      }
    </script>
  {% endif %}
{% endblock %}