{% extends 'page.html' %}
{% load markdownify %}

{% block page %}
  <div class="row mb-6">
    <div class="col-lg-8">
      <h1 class="page-title">{{ object }}</h1>
      <p class="lead">{{ object.feeling_emoji }} {{ object.memo }}</p>

      {% if object.private %}
      <button class="btn btn-danger mb-3" type="button" data-toggle="collapse" data-target="#entry">
      Toggle Content
      </button>
      {% endif %}

      <div id="entry" class="pb-5{% if object.private %} collapse{% endif %}">
      {{ object.entry|markdownify }}
      </div>
    </div>

    <div class="col-lg-4">
      {% if object.tabs %}
      <div class="card my-4">
        <h5 class="card-header">Browser Tabs</h5>
        <div class="card-body">
          <table class="table">
            <tr>
              <td>Open Windows</td>
              <td>{{ object.tabs.desktop_windows }}</td>
            </tr>
            <tr>
              <td>Desktop Tabs</td>
              <td>{{ object.tabs.desktop_tabs }}</td>
            </tr>
            <tr>
              <td>Mobile Tabs</td>
              <td>{{ object.tabs.mobile_tabs }}</td>
            </tr>
            <tr>
              <td>Tablet Tabs</td>
              <td>{{ object.tabs.tablet_tabs }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% endif %}

      <!-- map widget -->
      <div class="card my-4">
        <h5 class="card-header">Location</h5>
        <div class="card-body"></div>
      </div>
    </div>
  </div>
{% endblock %}