/*!
 * Memoro base styles
 * Copyright 2020 Bengfort.com
 * See LICENSE.txt
 */

html,
body {
  height: 100%;
}

body {
    padding-top: 72px;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.navbar-brand img {
  width: 28px;
  height: 28px;
  padding-bottom: 3px;
  margin-right: 2px;
}

h1.page-title {
  font-size: 1.75rem;
}

form.today-form fieldset legend {
  font-size: 1.05rem;
  padding-left: 5px;
}

blockquote {
  background: #f8f9fa;
  border-left: 10px solid #336699;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

.article-counts {
  font-size: 0.95em;
}