{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/write.css' %}">
{% endblock %}

{% block body %}
  <!-- Toolbar -->
  <div class="navbar navbar-default">
    <div class="container">

      <div class="col-xs-2">
        <!-- left toolbar -->
        <div class="btn-toolbar navbar-left" role="toolbar">
          <div class="btn-group btn-group-sm" data-toggle="buttons">
            <label class="btn btn-default navbar-btn">
                <input type="radio" id="previewBtn"> Preview
              </label>
              <label class="btn btn-default navbar-btn active">
                <input type="radio" id="writeBtn"> Write
              </label>
          </div>
        </div><!-- end left toolbar -->
      </div>

      <div class="col-xs-8">
        <!-- middle toolbar -->
        <div class="btn-toolbar navbar-left" role="toolbar">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-bold"></i></button>
            <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-italic"></i></button>
            <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-list-ul"></i></button>
            <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-list-ol"></i></button>
            <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-quote-left"></i></button>
            <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-indent"></i></button>
            <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-dedent"></i></button>
            <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-picture-o"></i></button>
            <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-link"></i></button>
            <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-unlink"></i></button>
            <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-question-circle"></i></button>
          </div>
        </div><!-- end middle toolbar -->
      </div>

      <div class="col-xs-2">
        <!-- right toolbar -->
        <div class="btn-toolbar navbar-right" role="toolbar">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-info navbar-btn">Save</button>
            <button type="button" class="btn btn-default navbar-btn">Exit</button>
          </div>
        </div><!-- end right toolbar -->

      </div>
    </div>
  </div><!-- toolbar ends -->

  <!-- Main writing area -->
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">

        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" />
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="30"></textarea>
            <span class="help-text text-muted pull-right">
              <small>Word count: <span id="wordCountElem">0</span></small>
            </span>
          </div>
        </form>

      </div>
    </div>
  </div>
{% endblock %}
