{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Memorandi{% endblock %}</title>

  {% block meta %}
  <meta name="author" content="{% block author %}Benjamin Bengfort{% endblock %}">
  <meta name="keywords" content="{% block keywords %}Memorandi, Bengfort, Journal{% endblock %}">
  <meta name="description" content="{% block description %}The Inner Chapters of Benjamin Bengfort{% endblock %}">
  {% endblock %}

  {% block link %}
  <!-- Shortcut Icons -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  {% endblock %}

  {% block stylesheets %}
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
  <link href="{% static 'css/memorandi.css' %}" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  {% endblock %}

</head>
<body>
  {% block body %}{% endblock %}
  {% block modals %}{% endblock %}

  {% block javascript %}
  <!-- Javascript at the bottom of the page for faster loading -->
  <script src="{% static 'js/libs/require.js' %}"></script>
  <script src="{% static 'js/libs/underscore.js' %}"></script>
  <script src="{% static 'js/libs/jquery.js' %}"></script>
  <script src="{% static 'js/libs/backbone.js' %}"></script>
  <script src="{% static 'js/libs/bootstrap.js' %}"></script>
  <script src="{% static 'js/utils/hotkeys.js' %}"></script>
  {% endblock %}
</body>
</html>
