/* Global Stylesheet for Memorandi */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  font-family: 'Open Sans', sans-serif;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -76px;
  /* Pad bottom by footer height */
  padding: 0 0 106px;
}

/* Set the fixed height of the footer here */
#footer {
    background-color: #fff;
    border-top: 1px solid #eee;
    height: 76px;
    padding: 30px 15px;
    font-size: 16px
    font-family: 'Open Sans Condensed' sans-serif;
}

#footer p {
    margin: 0;
}

/* Helper classes */

.text-justify {
  text-align: justify;
}

.modal {
  z-index: 1200;
}

nav {
  z-index: 2;
}

.navbar-header {
  min-width: 300px;
}
