{% extends 'base.html' %}

{% block body %}
<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
    {% block content %}
      <!-- Begin Page Content -->
      <div class="container-fluid">
      {% block page %}
      {% endblock %}
      </div><!-- End Page Content -->
    {% endblock %}
    </div><!-- End Main Content -->
  </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->


  {% block modals %}
  {{ block.super }}
  {% endblock %}

{% endblock %}