<div class="modal fade" id="{% block modal-id %}{% endblock %}"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog{% block modal-size %}{% endblock %}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% block modal-title %}{% endblock %}</h4>
      </div>
      <div class="modal-body">
        {% block modal-body %}{% endblock %}
      </div>
      <div class="modal-footer">
        {% block modal-footer %}{% endblock %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
