{% extends 'modals/base.html' %}
{% block modal-id %}loginFormModal{% endblock %}
{% block modal-size %} modal-sm{% endblock %}
{% block modal-title %}Sign In{% endblock %}
{% block modal-body %}
  <form role="form" method="POST", action="{% url 'LoginView' %}" id="loginForm">
    <div class="form-group">
      <label for="username" class="control-label">Username</label>
      <div>
        <input type="email" class="form-control" name="username" id="username" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="control-label">Password</label>
      <div>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="remember-me"> Remember me
        </label>
      </div>
    </div>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock %}
{% block modal-footer %}
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary" onclick="$('#loginForm').submit();">Submit</button>
{% endblock %}
