{% extends 'modals/base.html' %}
{% block modal-id %}registrationFormModal{% endblock %}
{% block modal-size %} modal-sm{% endblock %}
{% block modal-title %}Create Account{% endblock %}
{% block modal-body %}
  <p>Memorandi is still in Alpha and is invite only. Thank you for your
  interest, please check back later to see if we've progressed to invites
  by request!</p>
{% endblock %}
{% block modal-footer %}
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
{% endblock %}
